.logo {
    max-height: 60px;
}

.callout {
    background-image: url("../assets/landing_banner_min.jpg");
    background-size: cover;
    background-position: center;
}

.top-bar, .menu-text {
    background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, body, p {
    font-family: 'Open Sans', sans-serif;
}

/* RC red: #EE3224 */